<h1> 첫 페이지입니다 </h1>

<!-- <a href="/attack">공격</a>
<a href="/defense">방어</a> -->


<form action="/attack">
    누가?<br>
    <input type ="text" name="userA"><br>
    누구를?<br>
    <input type = "text" name="userB">
    <input type = "submit" value="공격"> 
    <br><br>
</form>



<form action="/defense">
    누가?<br>
    <input type ="text" name="userA"><br>
    누구의 공격을?<br>
    <input type = "text" name="userB">
    <input type = "submit" value="방어"> 
</form>